/*
*
* Created by Yoggi Firmanda
* 20 September 2016
*
*/

* {
    box-sizing: border-box;
}

.row::after {
    content: "";
    clear: both;
    display: block;
}

html {
    font-family: "Lucida Sans", sans-serif;
}

p, .text {
  font-size: 0.8em;
}

.name {
    margin-top: 10px;
    background-color: rgb(121, 119, 121);
    color: #fff;
    padding: 15px;
}

.contact-me{
    margin-top: 10px;
    background-color: rgb(38, 121, 182);
    color: #fff;
    padding: 15px;
}
.social{
  margin-top: 10px;
  background-color: rgb(121, 119, 121);
  color: #fff;
  padding: 15px;
}
.main-div{
  margin-top: 10px;
  background-color: #fff;
  color: #000;
  padding: 15px;
}

img {
    width: 100%;
    height: auto;
}

.img-circle {
    border-radius: 50%;
}

.container {
    margin: auto;
    width: 80%;
    padding: 10px;
    background-color: rgb(231, 232, 230);
}

.social a, .contact-me a{
  color: #fff;
  text-decoration: none;
}

p.date , h4.main, span.lang_info{
  color: rgb(38, 121, 182);
}

/*
* Charts
*/
.horizontal .progress-bar {
  float: left;
  height: 45px;
  width: 100%;
  padding: 12px 0;
}

.horizontal .progress-track {
  position: relative;
  width: 100%;
  height: 20px;
  background: #ebebeb;
}

.horizontal .progress-fill {
  position: relative;
  background: rgb(38, 121, 182);
  height: 20px;
  width: 50%;
  color: #fff;
  text-align: center;
  font-family: "Lato","Verdana",sans-serif;
  font-size: 12px;
  line-height: 20px;
}

/*
* Responsive responsibility
*/

[class*="col-"] {
    float: left;
    padding: 15px;
    /*border: 1px solid #c9c9c9;*/
    width: 100%;
}

@media only screen and (max-width: 500px) {
    body {
      background-color: rgb(211, 211, 213);
    }
}

@media only screen and (max-width: 768px) {
    /* For mobile phones: */
    [class*="col-"] {
        width: 100%;
    }
}

@media only screen and (min-width: 600px) {
    /* For tablets: */
    .col-m-1 {width: 8.33%;}
    .col-m-2 {width: 16.66%;}
    .col-m-3 {width: 25%;}
    .col-m-4 {width: 33.33%;}
    .col-m-5 {width: 41.66%;}
    .col-m-6 {width: 50%;}
    .col-m-7 {width: 58.33%;}
    .col-m-8 {width: 66.66%;}
    .col-m-9 {width: 75%;}
    .col-m-10 {width: 83.33%;}
    .col-m-11 {width: 91.66%;}
    .col-m-12 {width: 100%;}
}
@media only screen and (min-width: 768px) {
    /* For desktop: */
    .col-1 {width: 8.33%;}
    .col-2 {width: 16.66%;}
    .col-3 {width: 25%;}
    .col-4 {width: 33.33%;}
    .col-5 {width: 41.66%;}
    .col-6 {width: 50%;}
    .col-7 {width: 58.33%;}
    .col-8 {width: 66.66%;}
    .col-9 {width: 75%;}
    .col-10 {width: 83.33%;}
    .col-11 {width: 91.66%;}
    .col-12 {width: 100%;}
}

@media only screen and (orientation: landscape) {
    body {
      background-color: rgb(211, 211, 213);
    }
}
